@page "/logout"

@inject NavigationManager Navigation
@inject SignInManager<User> SignInManager

<PageTitle>Logout</PageTitle>

<div class="space-y-6">
	<h2 class="text-3xl font-extrabold dark:text-gray-900">Logout User</h2>
</div>

@code {

	protected override async Task OnInitializedAsync()
	{

		await SignInManager.SignOutAsync();
		
		Navigation.NavigateTo("/");

	}

}